/* styles.css or styles.scss */
html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
  }
  
  .content {
    flex: 1;
  }
  