.ingredient-item {
    display: flex;
    justify-content: space-between;
  }
  .ingredient-name {
    font-weight: bold;
    color: #333;
  }
  .ingredient-amount {
    color: #888;
  }

  /* Your component CSS file */
.recipe-container {
  
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card_image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card_content {
  text-align: left;
}

.card_title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card_text p {
  margin-bottom: 0.5rem;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

  
.container
{
  background-color:burlywood;
}